.search-container {
  display: flex;
  justify-content: center;
  background-color: #efe6fd;
  align-items: center;
}

.container-fluid {
  padding: 0;
}
.filters {
  margin: 0 2%;
}
.filter {
  margin: 15px 5px;
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 80px;
  background-color: #fcf4ed;
  font-size: small;
  color: black;
}
.filter:hover {
  background-color: #fcf4ed;
  color: rgb(55, 54, 54);
}

.searchbar {
  justify-content: center;
  width: 150px;
  text-align: center;
  height: 25px;
  border: none;
  border-radius: 3px;
}
.searchbar-btn {
  border: none;
  border-radius: 7px;
  margin: 0 10px;
  padding: 0px;
  height: 30px;
  width: 70px;
  background-color: #fcf4ed;
  color: black;
}
.searchbar-btn:hover {
  color: rgb(55, 54, 54);
}

@media screen and (width < 760px) {
  .search-container {
    flex-direction: column;
  }
  .search-small-screen {
    margin: 1.5%;
  }
}
